<main class='container vh-100 d-flex flex-column mb-3'>
  <div class='row align-self-center mt-auto'>
    <div >
      <h1 class='fst-italic fw-bold'>Tidy Budget</h1>
    </div>
  </div>
  <div class="mb-3 mt-auto d-flex flex-column justify-self-end" >
    <%= link_to 'LOG IN', new_user_session_path, class:"btn text-white main justify-content-center d-flex flex-fill fw-bold" %>
    <%= link_to 'SIGN UP', new_user_registration_path, class:"btn btn-light justify-content-center d-flex flex-fill fw-bold" %>
  </div>
</main>
