/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Proxima Nova';
  src: font-url('ProximaNovaBold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: font-url('ProximaNovaLight.otf');
  font-weight: lighter;
  font-style: normal;
}

.main {
  color: #3778c2;
}

.second {
  color: #5fb523;
}

.t-one {
  color: #434b54;
}

.t-two {
  color: #545c67;
}

.t-three {
  color: #86898e;
}

.t-four {
  color: #989da3;
}

* {
  font-family: 'Proxima Nova', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
