<div class="row pb-2" id="<%= dom_id expense %>">

  <div class="mt-2 w-50">
    <%= expense.name %>
  </div>
  <div class="mt-2 w-25">
  </div>
  <div class="mt-2 w-25 fw-bold">
      $<%= expense.amount %>
  </div>
</div>
